:root {
  --color-primary: #005792;
  --color-secondary: #89CFF0;
  --color-background: #ffffff;
  --color-surface: #f2f2f2;
  --color-success: #a8d5ba;
}

[data-theme="dark"] {
  --color-primary: #003b66;
  --color-secondary: #5baad6;
  --color-background: #1e1e1e;
  --color-surface: #2c2c2c;
  --color-success: #7fbf9f;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

main {
  flex: 1;
}

.navbar,
.footer {
  background-color: var(--color-primary);
}

.btn-toggle {

  color: white;
}


.emergency-bar {
  overflow: hidden;
  background: #bbb;
  color: black;
  padding: 5px 0;
  font-weight: bold;
  text-align: center;
}

.text-emergency-bar {
  display: inline-block;
  white-space: norwrap;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .emergency-bar {
    font-size: 0.9rem;
  }

  .footer p {
    font-size: 0.8rem;
  }
}