* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

:root {
  --color-principal: rgb(0, 87, 146);
  --color-secundario: rgb(138, 207, 240);
  --color-background: #ffffff;
  --color-surface: #f2f2f2;
  --color-success: #a8d5ba;
}

[data-theme="dark"] {
  --color-principal: #003b66;
  --color-secundario: #5baad6;
  --color-background: #1e1e1e;
  --color-surface: #2c2c2c;
  --color-success: #7fbf9f;
}