* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

:root {
  --color-principal: #005792;
  --color-secundario: #89CFF0;
  --color-background: #ffffff;
  --color-surface: #f2f2f2;
  --color-success: #a8d5ba;
}