html {
  scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    background-color: var(--color-principal);
}

#marca{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: var(--color-surface);
}

#logo-marca{
    width: 5rem;
    cursor: pointer;
}

h1{
    cursor: pointer;
}

#containter-opciones{
    color: var(--color-surface);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin-right: 1rem;
    gap: 1rem;
}

.opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.2rem;
    
}

#opciones-iniciar_sesion{
    padding: 0.5rem;
    border: 1px solid var(--color-secundario);
}

#opciones-iniciar_sesion:hover{
    background-color: var(--color-secundario);
    color: black;
}

#numero-emergencia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    background-color: red;
    color: var(--color-surface);
    padding: 0.5rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-titulo-plan{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
    height: 20%;
    color: var(--color-surface);
    gap: 10rem;
    padding: 3rem
}

#presentacion{
    width: 20%;
}

#plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
    text-align: center;
    width: 20%;
}

#medalla{
    width: 10rem;
}

#container-mas_informacion{
    border: solid var(--color-secundario);
    padding: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
    text-align: center;
}

#container-mas_informacion:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

#container-mas_informacion a{
    text-decoration: none;
    color: var(--color-surface);
}

#container-prestaciones{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--color-principal);
    width: 60%;
    margin: 5rem auto;
    color: var(--color-principal);
    border-radius: 10px;
}

.cobertura{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
}

.cobertura h3{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cobertura h4{
    color: var(--color-secundario);
    font-weight: 600;
}

.prestaciones-items{
    display: flex;
    justify-content: space-between;
}

.prestaciones-items p{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-quiero_plan{
    display: flex;
    flex-direction: column;
}

#quiero_plan{
    width: 60%;
    margin: auto;
    display: flex;
}

#quiero_plan h2{
    background-color: var(--color-principal);
    padding: 1rem;
    border-radius: 15px;
    color: var(--color-surface);
    cursor: pointer;
    font-size: 2rem;
    transition: 0.3s;
}

#quiero_plan h2:hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    transition: 0.3s;
}

#form-informacion-plan{
    width: 60%;
    height: 45dvh;
    margin: 2rem auto;
    
}

#formulario{
    width: 24%;
    padding: 1rem;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

#formulario h3{
    text-align: center;
    margin-bottom: 1rem;
}

#formulario label{
    font-weight: 600;
}

.campo{
    width: 100%;
    outline: none;
    padding: 0.3rem;
}

#boton-formulario{
    width: 40%;
    align-self: center;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-principal);
    background-color: var(--color-secundario);
    border: 1px solid var(--color-principal);
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
}

#boton-formulario:hover{
    background-color: var(--color-principal);
    color: var(--color-surface);
    transition: 0.3s;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    color: var(--color-surface);
}

.separacion-footer{
    width: 80%;
    margin: auto;
    height: 10px;
    background-color: var(--color-principal);
}

.logo-alianza{
    width: 5rem;
}

#container-logos-alianzas{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

#footer-main{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-principal);
}

#container-logo-redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    padding: 1rem;
}

#footer-main img{
    width: 4rem;
}

#footer-redes{
    display: flex;
    flex-direction: column;
}

#footer-redes img{
    cursor: pointer;
}

#container-enlaces{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.enlaces{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-left: 1px solid var(--color-secundario);
    height: 70%;
    width: 20%;
    padding:0 0.5rem;
}

.enlaces h4{
    text-align: center;
}

.a-enlace{
    text-decoration: none;
    color: var(--color-surface);
}

.a-enlace:hover{
   color: var(--color-secundario);
}

#container-nov{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--color-secundario);
    margin: 1rem 1rem 1rem 0rem;
    gap: 1rem;
    padding: 0.5rem;
    color: var(--color-principal);
}

#container-nov form{
    color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#container-nov input{
    border-radius: 5px;
    padding: 0.3rem;
    border: 1px solid var(--color-principal);
}

#container-nov button{
    color: var(--color-principal);
    width: 40%;
    padding: 0.3rem;
    border-radius: 3px;
    border: 1px solid var(--color-principal);
    align-self: center;
    font-size: 1rem;
    cursor: pointer;
}

#container-nov button:hover{
    background-color: var(--color-principal);
    color: var(--color-surface);
}

@media (max-width: 992px) {
  #containter-opciones {
    width: 60%;
    font-size: 0.95rem;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  #container-titulo-plan {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    height: auto;
    text-align: center;
  }

  #presentacion {
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  #plan {
    font-size: 1.3rem;
  }

  #container-mas_informacion {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
  }

  #container-prestaciones {
    width: 90%;
    margin: 3rem auto;
    font-size: 1rem;
  }

  #container-quiero_plan{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #quiero_plan{
    display: flex;
    justify-content: center;
  }

  #form-informacion-plan{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
  }

  #formulario {
    width: 90%;
  }

  #footer-main {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #container-logo-redes {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  #footer-redes{
    flex-direction: row;
  }

  #container-enlaces {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .enlaces {
    width: 50%;
    border-left: none;
    border-bottom: 1px solid var(--color-secundario);
    padding-bottom: 1rem;
  }

  #container-nov {
    width: 50%;
    margin: 2rem auto;
  }

  form{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form-campo{
    align-self: center;
  }
}

@media (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }

  #containter-opciones {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-right: 0;
  }

  #numero-emergencia {
    font-size: 1rem;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.3rem;
  }

  #container-titulo-plan {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0.5rem;
    height: auto;
  }

  #presentacion {
    width: 100%;
    font-size: 1rem;
  }

  #plan {
    font-size: 1rem;
  }

  #container-mas_informacion {
    width: 100%;
    font-size: 0.95rem;
    padding: 0.7rem;
  }

  #container-prestaciones {
    width: 90%;
    
    font-size: 0.95rem;
    padding: 0.5rem;
  }

  .cobertura h3 {
    font-size: 1.1rem;
  }

  .cobertura h4 {
    font-size: 1rem;
  }

  .prestaciones-items {
    flex-direction: column;
    gap: 0.2rem;
  }

  #form-informacion-plan,
  #quiero_plan {
    width: 100%;
  }

  #formulario {
    width: 100%;
    padding: 0.5rem;
  }

  #footer-main {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.2rem;
  }

  #container-logo-redes {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  #container-enlaces {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .enlaces {
    width: 100%;
    border-left: none;
    border-bottom: 1px solid var(--color-secundario);
    padding-bottom: 0.5rem;
  }

  #container-nov {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem 0;
  }

  .logo-alianza {
    width: 3rem;
  }
}