html,
body {
  height: 100vh;
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);

}

.navbar-nav {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar,
.footer {
  background-color: var(--color-primary);
}


.image-side {
  background-image: url(/assets/imagenes/foto-registro.jpg);
  background-size: cover;
  background-position: center;
  height: 100dvh;
}

.form-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: auto;
}

#container-carga-dni{
  text-align: center;
  
}

.carga-dni{
  border: 1px solid;
  
}

.input-personalizado {
  display: inline-block;
  height: 15rem;
  width: 40%;
  padding: 0.5rem 1rem;
  border: 2px dashed var(--color-principal);
  color: var(--color-principal);
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
}



@media (max-width: 767.98px) {
  .image-side {
    height: 200px;
  }
}

@media (max-width: 767.98px) {
  .form-side {
    height: auto;
    padding: 2rem 1rem;
  }

  .form-box {
    max-width: 100%;
    padding: 1.5rem;
  }
}
